{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <style>
        form {
            width: 400px;
            border: 1px solid #222222;
            padding: 30px;
            border-radius: 10px 10px 10px 10px;
            margin-top: 50px;
        }

        label {
            float: left;
        }
    </style>
    <div class="container">
        <center>
            <form action="{{ path('createAddConge') }}" method="post">
                <h2 style="margin-bottom: 50px;">Creation de demande de conge</h2>
                <input type="text" name="congeDemandeurId" value="{{ app.user.id }}" id="congeDemandeur">
                <input type="text" name="congeStatus" id="congeStatus" value="0">
                <div class="form-group">
                    <label><span style="color: red;">*</span>Type de conge:</label>
                    <select class="form-control" name="congeType" id="typeConge"
                            placeholder="Select Card" required>
                        {% for item in data %}
                            {% if item.statusType == 1 %}
                                <option value="{{ item.idP }}">{{ item.nameType }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label><span style="color: red;">*</span>Date debut de congé :</label>
                    <input type="text" id="congeDebut" class="form-control" placeholder="Date de debut"
                           name="congeDateStart" required>
                </div>
                <div class="form-group">
                    <label><span style="color: red;">*</span>Date fin de congé :</label>
                    <input type="text" id="congeFin" class="form-control" placeholder="Date de fin" name="congeDateFin"
                           required>
                    <span id="msgdate" style="font-size: 10px;color: red;">Date de fin de congé doit etre superieur ou egale à la date de debut .</span>
                </div>
                <div class="form-group">
                    <input type="text" id="congeCreate" class="form-control" name="congeDateCreate" required>
                </div>
                <span class="btn btn-default" id="demander">Demander</span>
                <input type="submit" id="congeSumbit">

            </form>
        </center>
    </div>
{% endblock %}