{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <style>
        form {
            width: 400px;
            border: 1px solid #222222;
            padding: 30px;
            border-radius: 10px 10px 10px 10px;
            margin-top: 50px;
        }

        label {
            float: left;
        }
    </style>
    <div class="container">
        <center>
            <form action="{{ path('createAddTypeConge') }}" method="post">
                <h2 style="margin-bottom: 50px;">Creation de type de congé</h2>
                <div class="form-group">
                    <label><span style="color: red;">*</span>Nom du type de congé :</label>
                    <input type="text" class="form-control" placeholder="Nom du type de congé" name="typecongeName" required>
                </div>
                <div class="form-group">
                    <label><span style="color: red;">*</span>Status du type de conge:</label>
                    <select class="form-control" name="typecongeStatus" id="typeConge"
                            placeholder="Select Card" required>
                        <option value="0">Désactiver</option>
                        <option value="1">Activer</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-default" value="Creer">

            </form>
        </center>
    </div>
{% endblock %}