{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <center>
        <img src="{{ asset('bundles/app/img/load.gif') }}" id="load"
             style="width: 30px;height: 30px;position: absolute;margin-top: 50px;">
    </center>
    <div class="container">
        <div class="form-group">
            <input type="text" class="form-control" id="search" style="width: 300px;float: right;"
                   placeholder="Votre recherche">
        </div>
        <table class="table table-bordered">
            <caption>Liste des congés:</caption>
            <thead>
            <tr style="background-color: #636363;color: white;">
                <th>Id type congé</th>
                <th>Nom de la type de congé</th>
                <th>Status du type de congé</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="data">

            </tbody>
        </table>
        <p>Resultat : <span id="nbr"></span></p>
    </div>
    <script>
        $(document).ready(function () {
            $('#load').show();
            ajaxListConge();
            $('#search').keyup(function () {
                ajaxListRecherche($('#search').val());
            });
        });

        function ajaxListConge() {
            $('#load').show();
            $("#data").empty();
            $.ajax({
                url: 'listTypeConge',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    document.getElementById("nbr").innerHTML =data.length;
                    if (data.length == 0) {
                        var table = "<tr class='item'>" +
                            "<td id=\"id\" colspan=\"8\" style='text-align: center;background-color: #dad55e;'>Aucune type de congé trouvé</td>" +
                            "</tr>";
                        $("#data").append(table);
                    } else if (data.length >= 0) {
                        $.each(data, function (cle, valeur) {
                            var table = tableList(valeur);
                            $("#data").append(table);
                        });
                    }
                    $('#load').hide();
                },
                error: function (resultat, statut, erreur) {

                }

            });
        }

        function tableList(valeur) {
            var statusType =(valeur.statusType == 1)?"Activé":"Désactivé";
            var label = "";
            if(valeur.statusType == 1){
                var urlAction = '{{ path("updateBaseStatusTypeConge", {'id': 'typeconge_id','status':0}) }}';
                label ="Désactiver";
            }else {
                var urlAction = '{{ path("updateBaseStatusTypeConge", {'id': 'typeconge_id','status':1}) }}';
                label ="Activer";
            }
            urlAction = urlAction.replace("typeconge_id", valeur.idP);
            var textAction = '<a href='+ urlAction +'>'+label+'</a>';
            if (valeur.statusType == 1){
                var tableL = "<tr class='item'>" +
                    "<td id=\"id\">" + valeur.idP+ "</td>" +
                    "<td id=\"id\">" + valeur.nameType + "</td>" +
                    "<td id=\"id\" style=\"background-color: mediumseagreen;\">" + statusType + "</td>" +
                    "<td id=\"id\">"+textAction+"</td>" +
                    "</tr>";
            }else {
                var tableL = "<tr class='item'>" +
                    "<td id=\"id\">" + valeur.idP+ "</td>" +
                    "<td id=\"id\">" + valeur.nameType + "</td>" +
                    "<td id=\"id\" style=\"background-color: #dd6666;\">" + statusType + "</td>" +
                    "<td id=\"id\">"+textAction+"</td>" +
                    "</tr>";
            }

            return tableL;
        }
    </script>
{% endblock %}